body {
  font-family: Verdana;
  background-color: #f7f7fa;
}
div {
  margin: 10px;
}
.labelHead {
  font-size: 200%;
  display: block;
}
.labels {
  font-size: 120%;
  display: block;
}
.TextMessage {
  font-size: 200%;
  display: block;
  padding: 2px 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
.TextMessage:focus:not(:active) {
  background-color: #d0d5d3;
  border: 3px solid #555;
}
.TextMail {
  font-size: 120%;
  display: block;
  padding: 2px 8px;
  margin: 5px 0;
  box-sizing: border-box;
}
.TextMail:focus:not(:active) {
  background-color: #d0d5d3;
  border: 3px solid #555;
}
.Menu {
  display: inline-block;
  font-size: 18px;
  color: #cdd8e4;
  text-shadow: 0 -1px #2e353a;
  user-select: none;
  line-height: 1.2em;
  border: 1px solid #212b34;
  border-radius: 3px;
  background: #515c66 linear-gradient(#515c66, #454e57);
  padding: 1px 25px;
}
.Menu:focus:not(:active) {
  border: 1px solid #16202b;
  border-bottom: 1px solid #19222d;
  background: #353d47;
  pointer-events: none;
}
.Send {
  display: inline-block;
  font-size: 18px;
  color: #cdd8e4;
  text-shadow: 0 -1px #2e353a;
  user-select: none;
  line-height: 1.2em;
  border: 1px solid #212b34;
  border-radius: 3px;
  background: #515c66 linear-gradient(#515c66, #454e57);
  padding: 1px 25px;
  margin-left: 50%;
  position: absolute;
}
.Send:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
